
<h1>Burgers Left to Eat</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form">
    <label>Burger Name:</label>
    <input type="text" id="name">
  </div>
</form>

 <button id=submitbtn type="submit">Add Burger</button>
